<div class="image">
  <img src="/assets/haikei_image.jpg" width="1300" height="900">
</div>
  <h2 class="spa_ttl">アプリの使い方</h2><br>
  <h3 class="price_ttl">
    テニスコートを予約して、一緒にテニスをする仲間を探す
  </h3>
  <br>
  ご自身で区営のテニスコートなどを予約していただきます。<br>
  予約ができたらトップページまたはカレンダー画面下の「テニス仲間募集登録」をクリックして各項目ご記入ください。<br>
  カレンダー画面の「詳細＆参加申し込み」をクリックしていただくと参加する人が集まったか確認することができます。<br>
  <br>
  <br>
  <h3 class="price_ttl">
    参加する
  </h3>
</div>
