<div class="devise_img">

<h1 class="devise">イベント登録</h1>
<div class="devise_box">
<div class="event_border">
<%= render 'form', reservation: @reservation %>

<%= link_to 'Back', reservations_path %>

</div>
</div>
</div>